[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
sanic = "~=21.9.1"
pyjwt = "*"
pyyaml = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"

[dev-packages]
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
